:root {
  margin: 0;
  font-family: "yekanBakh", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Monaco, Consolas, "Courier New", monospace;
}
